<%- include('partials/Header') %>      
      
      <div class="starter-template">
        <h1>Projeto CRUD KnexJS - @devpleno</h1>
        <p class="lead">Projeto desenvolvido durante o curso FullStack Master</p>
      </div>

<%- include('partials/Footer') %>
